<!-- NAV -->
<div class="wim-nav">    
  <div class="usgsbanner">
      <a class="nav-branding" href="http://www.usgs.gov"><img src="https://wim.usgs.gov/website-assets/usgs-logo.png"></a>
      <span class="nav-title">{{title}}</span>
  </div>
 
</div>
<br clear="all"/>

<!-- SIDEBAR -->
<div class="wim-sidebar fixed">
  <div class="card-header"><a [routerLink]="['home']" routerLinkActive="active">Home</a></div>
  <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
      <ngb-panel *ngFor="let resource of configSettings.resources" id="{{getName(resource.name)}}">
          <ng-template ngbPanelTitle>
              <span>{{resource.name}}</span>
          </ng-template>
          <ng-template ngbPanelContent>
              <div class="list-group-body">
                      <p>{{resource.methods.type}}</p>
                      <div *ngFor="let url of resource.methods.uriList">
                          <a [routerLink]="[getName(resource.name), getLink(url)]" routerLinkActive="active-link" title="{{url.uri}}">{{url.id}}</a>
                          <br />
                      </div> 
              </div>
          </ng-template>
      </ngb-panel>
  </ngb-accordion>
  <br clear="all" />
  <div class="identification pull-right">powered by <a href="http://wim.usgs.gov/" target="_blank">WiM</a></div>
</div>

<!-- MAINVIEW -->
<div class="container" style="margin-top:65px">   
 <router-outlet></router-outlet>
</div>